# 1.Create a function that takes three parameters where:
- x is the start of the range (inclusive).
- y is the end of the range (inclusive).
- n is the divisor to be checked against.
Return an ordered list with numbers in the range that are divisible by the third parameter n. Return an empty list if there are no numbers that are divisible by n.
Examples:
- list_operation(1, 10, 3) ➞ [3, 6, 9]
- list_operation(7, 9, 2) ➞ [8]
- list_operation(15, 20, 7) ➞ []

In [12]:
def list_operations(s,e,d):
    res=[]
    for num in range(s, e+1):
        if num%d==0:
            res.append(num)
    return res
print(list_operations(1, 10, 3))
print(list_operations(7, 9, 2))
print(list_operations(15, 20, 7))

[3, 6, 9]
[8]
[]

In [13]:
def list_operations(s,e,d):
    return [x for x in range(s,e+1) if x%d==0]
    
print(list_operations(1, 10, 3))
print(list_operations(7, 9, 2))
print(list_operations(15, 20, 7))

[3, 6, 9]
[8]
[]

 2.A group of friends have decided to start a secret society. The name will be the first letter of each of their names, sorted in a alphabetical order ? Create a function that takes in a list of names and returns the name of the secret society ?
 
**Examples:**
- society_name(["Adam", "Sarah", "Malcolm"]) ➞ "AMS"
- society_name(["Harry", "Newt", "Luna", "Cho"]) ➞ "CHLN"
- society_name(["Phoebe", "Chandler", "Rachel", "Ross", "Monica", "Joey"])

In [14]:
def society_name(lst_names):
    res=[]
    for name in lst_names:
        res.append(name[0])
    res.sort()
    return "".join(res)
print(society_name(["Adam", "Sarah", "Malcolm"]))
print(society_name(["Harry", "Newt", "Luna", "Cho"])) 
print(society_name(["Phoebe", "Chandler", "Rachel", "Ross", "Monica", "Joey"]))

AMS
CHLN
CJMPRR

 3.An isogram is a word that has no duplicate letters. Create a function that takes a string and returns either True or False depending on whether or not it's an "isogram".
**Examples:**
- is_isogram("Algorism") ➞ True
- is_isogram("PasSword") ➞ False Not case sensitive.
- is_isogram("Consecutive") ➞ False
Notes:
- Ignore letter case (should not be case sensitive).
- All test cases contain valid one word strings.

In [18]:
def is_isogram(string):
    lower_str = string.lower()
    for char in lower_str:
        if lower_str.count(char) > 1:
            return False
    else:
        return True
print(is_isogram("PasSword"))

False

In [20]:
def is_isogram(string):
    lower_str = string.lower()
    d={}
    for char in lower_str:
        if char not in d:
            d[char]=1
        else:
            d[char]+=1
    # print(d)
    for val in d.values():
        if val>1:
            return False
    else:
        return True
        
print(is_isogram("PasSword"))

False

4.Create a function that takes a string and returns True or False, depending on whether the characters are in order or not ?

**Examples:**
- is_in_order("abc") ➞ True
- is_in_order("edabit") ➞ False
- is_in_order("123") ➞ True
- is_in_order("xyzz") ➞ True

In [22]:
def is_in_order(string):
    l=list(string)
    l.sort()
    new_str="".join(l)
    if string==new_str:
        return True
    else:
        return False
print(is_in_order("edabit"))
print(is_in_order("123") )

False
True

5.Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

**Examples:**
- is_symmetrical(7227) ➞ True
- is_symmetrical(12567) ➞ False
- is_symmetrical(44444444) ➞ True
- is_symmetrical(9939) ➞ False
- is_symmetrical(1112111) ➞ True

In [23]:
def is_symmetrical(num):
    num_str = str(num)
    return num_str == num_str[::-1]
print(is_symmetrical(7227))      
print(is_symmetrical(12567))     
print(is_symmetrical(44444444))  
print(is_symmetrical(9939))      
print(is_symmetrical(1112111))

True
False
True
False
True

6.Given a string of numbers separated by a comma and space, return the product of the numbers.<br>
**Examples:**
- multiply_nums("2, 3") ➞ 6
- multiply_nums("1, 2, 3, 4") ➞ 24
- multiply_nums("54, 75, 453, 0") ➞ 0
- multiply_nums("10, -2") ➞ -20

In [24]:
import math
def multiply_nums(s):
    return math.prod(map(int, s.split(", ")))
print(multiply_nums("2, 3"))           
print(multiply_nums("1, 2, 3, 4"))    
print(multiply_nums("54, 75, 453, 0"))
print(multiply_nums("10, -2"))

6
24
0
-20