In [1]:
                    #type conversion methods#
#integer to float, string conversion
num=21
print(float(num))
print(str(num))

21.0
21

In [2]:
#float to int, string conversion#
num=21.0
number=int(num)
print(type(number))
print(number)
print(str(num))

<class 'int'>
21
21.0

In [3]:
#string to integer, float, list, tuple, set#
a='1234'
b='abc765'
print(int(a))
print(float(a))
print(list(b))
print(tuple(b))
print(set(b))

1234
1234.0
['a', 'b', 'c', '7', '6', '5']
('a', 'b', 'c', '7', '6', '5')
{'7', 'a', 'c', 'b', '6', '5'}

In [5]:
#list to tuple , set, string#
lst=[1, 3, 5 , 'p', 'r', 'a']
print(str(lst))
print(tuple(lst))
print(set(lst))

[1, 3, 5, 'p', 'r', 'a']
(1, 3, 5, 'p', 'r', 'a')
{1, 3, 5, 'a', 'p', 'r'}

In [6]:
#list of tuples to dictionary#
l=[('a', 1), ('b',2), ('c', [1,2,3])]
print(dict(l))

{'a': 1, 'b': 2, 'c': [1, 2, 3]}

In [7]:
#dictionary to list#
d= {'a':1, 'b':2, 'c':(1,2,3)}
print(list(d))

['a', 'b', 'c']

In [8]:
#tuple to list, set, string#
t=(1, 4, 'prasanna', 33)
print(list(t))
print(str(t))
print(set(t))

[1, 4, 'prasanna', 33]
(1, 4, 'prasanna', 33)
{1, 4, 33, 'prasanna'}

In [10]:
#set to list, tuple, string#
s={'prassu', 1,2, 4, 99}
print(str(s))
print(list(s))
print(tuple(s))

{1, 2, 99, 'prassu', 4}
[1, 2, 99, 'prassu', 4]
(1, 2, 99, 'prassu', 4)

# output formating#
- using old style formating 
-using modulo operator
-using f- format method
-using dot format method

In [3]:
#using old style#
name= 'prassu'
age= 22
email='prassu@email'
print("Name:", name, "age:" ,age, "email:",email)

Name: prassu age: 22 email: prassu@email

In [19]:
#using modulo operator#
name = 'prassu'
age = 22
email = 'prassu@email'
print("name is %s, age is %d, email is %s"% (name, age, email))

name is prassu, age is 22, email is prassu@email

In [21]:
#using f format method#
name = 'prassu'
age = 22
email = 'prassu@email'
print(f'name is {name}, age is {age}, email is {email}')

name is prassu, age is 22, email is prassu@email

In [23]:
#using f format method#
name = 'prassu'
val = 22
email = 'prassu@email'
print(f'name is {name}, val is {val}, email is {email}')

name is prassu, val is 22, email is prassu@email

In [25]:
#using f format method#
name = 'prassu'
val = 22.1000564
email = 'prassu@email'
print(f'name is {name}, val is {val:.5f}, email is {email}')

name is prassu, val is 22.10006, email is prassu@email

In [26]:
#using dot format methods#
name = 'prassu'
val = 22
email = 'prassu@email'
print(" name is {}, age is {}, email is {}". format(name, age, email))

 name is prassu, age is 22, email is prassu@email